@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
    color: #000;
}
a {
    color: #000;
    text-decoration: none;
}
.clear {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
}
img {
    max-width: 100%;
    height: auto;
}
.page {
    position: relative;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
}
/* #wrapper */
#wrapper {
    position: relative;
    height: 100%;
}
/* header */
header {
    width: 100%;
    height: 80px;
    padding-top: 50px;
}
#headerleft {
    width: 50%;
    float: left;
    text-align: left;
}
#headerleft p#headerleftname {
    font-size: 39px;
    line-height: 43px;
    letter-spacing: 1.1px;
    padding-left: 57px;
}
#headerright {
    width: 50%;
    float: right;
    text-align: right;
}
#headerright ul {
    width: 280px;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
}
#headerright ul li {
    display: inline-block;
    font-size: 13px;
    padding: 0 6px;
}
/* #menu_typea */
#menu_typea {
    width: 150px;
    height: 120px;
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    padding-left: 57px;
    margin-top: 48px;
}
/* #menu_typeb */
#menu_typeb {
    width: 50%;
    height: 120px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    top: -86px;
}
#menu_typeb ul {
    text-align: center;
}
#menu_typeb ul li {
    display: inline-block;
    font-size: 14px;
    padding: 0 36px;
}
/* #footer */
footer {
    width: 100%;
    height: 80px;
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 150px;
}
#footerleft {
    width: 50%;
    float: left;
    text-align: left;
}
#footerleft p {
    padding-left: 57px;
}
#footerright {
    width: 50%;
    float: right;
    text-align: right;
}
#footerright a {
    margin-right: 68px;
    width: 35px;
    height: auto;
    display: inline-block;
}
#footerright img {
    width: 35px;
    height: auto;
}

/* TOPページ */
/* #home_typea */
#home_typea {
    height: 340px;
    margin-top: 33vh;
}
#home_typea ul li {
    display: inline-block;
    font-size: 43px;
    line-height: 63px;
}
#home_typea ul li:after {
    content: "/ ";
}
#home_typea ul li:last-child:after {
    content: "";
}
/* #home_typeb */
#home_typeb {
    height: 108px;
    margin-top: calc(79vh - 250px);
}
#home_typeb ul li {
    display: inline-block;
    font-size: 20px;
    line-height: 44px;
}
#home_typeb ul li:after {
    content: "/ ";
}
#home_typeb ul li:last-child:after {
    content: "";
}
/* #home_typec */
#home_typec {
    margin-left: 57px;
    margin-top: -133px;
    text-align: left;
    font-size: 20px;
}
#home_typec ul li {
    margin: 20px 0;
}
/* #home_typed */
#home_typed {
    margin-right: 68px;
    margin-top: -133px;
    text-align: right;
    font-size: 20px;
}
#home_typed ul li {
    margin: 20px 0;
}

/* PORTFOLIOページ */
/* #portfolio_typea */
#portfolio_typea {
    width: 53.125%;
    text-align: center;
    margin: -140px auto 0 auto;
}
#portfolio_typea ul {
    margin-top: 87px;
}
#portfolio_typea ul li {
    width: 23.5%;
    display: inline-block;
    margin: 0 7%;
}
#portfolio_typea ul li:first-child {
    margin-left: 0;
}
#portfolio_typea ul li:last-child {
    margin-right: 0;
}
#portfolio_typea ul li img {
    margin-bottom: 20px;
}
/* #portfolio_typeb */
#portfolio_typeb {
    width: 56.5%;
    margin: -102px auto 0 auto;
    font-size: 18px;
    text-align: left;
}
#portfolio_typeb ul {
    width: 20%;
    margin-right: 20%;
    float: left;
}
#portfolio_typeb ul:last-of-type {
    margin-right: 0;
}
#portfolio_typeb ul li {
    margin: 35px 0;
}
/* #portfolio_typec */
#portfolio_typec {
    height: 88px;
    margin: calc((100vh - 88px) / 2 - 250px) auto calc((100vh - 88px) / 2 - 80px) auto;
}
#portfolio_typec ul li {
    display: inline-block;
    font-size: 20px;
    line-height: 34px;
}
#portfolio_typec ul li:after {
    content: "/ ";
}
#portfolio_typec ul li:last-child:after {
    content: "";
}
